<div class="overlay"></div>
<div class="menuContainer">
	<h2>Sign in</h2>
	<form>
		<fieldset>
			<p class="errorPlaceholder"></p>
			<div class="inputGroup">
				<label for="login-username">Username</label>
				<input name="login-username" id="login-username" type="text" />
			</div>
			<div class="inputGroup">
				<label for="login-password">Password</label>
				<input name="login-password" id="login-password" type="password" />
			</div>
			<div class="inputGroup alignRight">
				<button class="cancel">Cancel</button>
				<button class="submit">Submit</button>
			</div>
		</fieldset>
	</form>
</div>