<div class="overlay"></div>
<div class="menuContainer">
	<h2>Register</h2>
	<form>
		<fieldset>
			<p class="errorPlaceholder"></p>
			<div class="inputGroup">
				<label for="register-firstName">First name</label>
				<input name="register-firstName" id="register-firstName" type="text" />
			</div>
			<div class="inputGroup">
				<label for="register-lastName">Last Name</label>
				<input name="register-lastName" id="register-lastName" type="text" />
			</div>
			<div class="inputGroup">
				<label for="register-phoneNumber">Phone number</label>
				<input name="register-phoneNumber" id="register-phoneNumber" type="text" />
			</div>
			<div class="inputGroup">
				<label for="register-username">User name</label>
				<input name="register-username" id="register-username" type="text" />
			</div>
			<div class="inputGroup">
				<label for="register-password">Password</label>
				<input name="register-password" id="register-password" type="password" />
			</div>
			<div class="inputGroup alignRight">
				<button class="goBack">Back</button>
				<button class="submit">Submit</button>
			</div>
		</fieldset>
	</form>
</div>